<footer class="footer">
  <div class="container">
    <div class="site-footer-grid">
      <a class="site-footer-logo site-footer-logo--airlab" href="https://theairlab.org/" target="_blank" rel="noopener" aria-label="Carnegie Mellon University AirLab">
        <img src="/img/logos/Horizontal@2x.png" alt="AirLab">
      </a>
      <div class="site-footer-center">
        <nav class="site-footer-socials" aria-label="AirLab social links">
          <a class="button" href="https://www.facebook.com/airlabcmu/" target="_blank" rel="noopener" aria-label="AirLab on Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
          <a class="button" href="https://www.twitter.com/airlabcmu/" target="_blank" rel="noopener" aria-label="AirLab on Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          <a class="button" href="https://medium.com/airlabcmu" target="_blank" rel="noopener" aria-label="AirLab on Medium"><i class="fab fa-medium-m" aria-hidden="true"></i></a>
          <a class="button" href="https://github.com/castacks" target="_blank" rel="noopener" aria-label="AirLab on GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
          <a class="button" href="https://bitbucket.org/castacks/" target="_blank" rel="noopener" aria-label="AirLab on Bitbucket"><i class="fab fa-bitbucket" aria-hidden="true"></i></a>
        </nav>
        <p>&copy; {{ 'now' | date: '%Y' }} Carnegie Mellon University AirLab</p>
      </div>
      <a class="site-footer-logo site-footer-logo--ri" href="https://www.ri.cmu.edu/" target="_blank" rel="noopener" aria-label="Carnegie Mellon University Robotics Institute">
        <img src="/img/riLogo2019.svg" alt="Robotics Institute">
      </a>
    </div>
  </div>
</footer>
